


.bab_calnavbar a strong {
	display:none;
	}


.bab_calnavbar .prev a, .bab_calnavbar .next a {
	display:block;
	width:10px;
	height:20px;
	float:left;
	background-repeat:no-repeat;
	margin:0 5px 0 5px;
	}

.bab_calnavbar .next a {
	float:right;
	}


.bab_calnavbar a.prev3 {background-image:url('images/arrowPrev3a.gif');}
.bab_calnavbar a.prev3:hover {background-image:url('images/arrowPrev3b.gif');}
.bab_calnavbar a.prev2 {background-image:url('images/arrowPrev2a.gif');}
.bab_calnavbar a.prev2:hover {background-image:url('images/arrowPrev2b.gif');}
.bab_calnavbar a.prev1 {background-image:url('images/arrowPrev1a.gif');}
.bab_calnavbar a.prev1:hover {background-image:url('images/arrowPrev1b.gif');}

.bab_calnavbar a.next3 {background-image:url('images/arrowNext3a.gif');}
.bab_calnavbar a.next3:hover {background-image:url('images/arrowNext3b.gif');}
.bab_calnavbar a.next2 {background-image:url('images/arrowNext2a.gif');}
.bab_calnavbar a.next2:hover {background-image:url('images/arrowNext2b.gif');}
.bab_calnavbar a.next1 {background-image:url('images/arrowNext1a.gif');}
.bab_calnavbar a.next1:hover {background-image:url('images/arrowNext1b.gif');}


/* calendar */


#vacationcalendar {
	font-size:14px;
	text-align:center;
	background-color:#fff;
	margin:0 auto;
	
	}


#vacationcalendar .calendar {
	margin:.5em auto;
	border-collapse:collapse;
	font-family:Arial;
	font-size:1em;
	width:1000px;
	}

#vacationcalendar .legend {
	margin:0;
	padding:0;
	text-align:left;
	border:0;
	width:100%;
	}

#vacationcalendar .calendar thead td {
	padding:.2em .3em;
	font-weight:bold;
}

#vacationcalendar .calendar tbody th {
	text-align:right;
	font-size:1em;
	border-left:#000 1px solid;
	border-bottom:#000 1px solid;
	font-size:11px;
	height:27px;
	}

#vacationcalendar .calendar thead td:first-child {
	border-left:none;
	border-top:none;
	}

#vacationcalendar .legend a {
	padding-left:18px;
	font-size:11px;
	text-decoration:none;
}

#vacationcalendar .legend a:hover {
	text-decoration:underline;
}

#vacationcalendar .legend .plus {
	background:transparent url('images/plus.gif') no-repeat 0 50%;
}

#vacationcalendar .legend .minus {
	background:transparent url('images/minus.gif') no-repeat 0 50%;
}

#vacationcalendar td {
	text-align:center;
	border:#000 1px solid;
	padding:0px;
	}


#vacationcalendar .loading th {
	opacity:.3;
}

#vacationcalendar .loading td {
	background-color:#555;
	}

#vacationcalendar .loading td div {
	background:#000;
	}


#vacationcalendar .used {
	background-color:#E2DCBF;
	}

#vacationcalendar .wait {
	background-color:#E2DCBF;
	background-image:url('images/stripsbackground_trans.gif');
	}
	
#vacationcalendar .previsional {
	background-color:#E2DCBF;
	background-image:url('images/previsional.gif');
	}

#vacationcalendar .noday {
	background-color:#000;
	}

#vacationcalendar .nonworking {
	background-color:#ff6;
	}

#vacationcalendar .weekend {
	background-color:#ccc;
	background-image:url('images/stripsbackground.gif');
	}

#vacationcalendar .default {
	background-color:#fff;
	}

#vacationcalendar .free {
	background-color:#fff;
	cursor:pointer;
	}

#vacationcalendar td div {
	height:12px;
	overflow:hidden;
	margin:1px;
	display:block;
}

#vacationcalendar .period {
	background-color:blue;
	cursor:pointer;
	}

#vacationcalendar .selected {
	background-color:blue;
	cursor:pointer;
	}

#vac_calendar_body .first td,
#vac_calendar_body .first th {
	border-top:#000 2px solid;
	border-bottom:#888 1px solid;
	}

#vac_calendar_body .inmonth td {
	border-top:#888 1px solid;
	border-bottom:#888 1px solid;
	}

th.user {
	font-weight:normal;
	white-space:nowrap;
	padding:0 .2em;
	}

#vacationcalendar ul {
	margin:0;
	margin-top:.5em;
	padding:0;
	list-style-type:none;
	text-align:left;
	}

#vacationcalendar li {
	margin: .2em 0;
	float:left;
	width: 33%;
	padding:.3em 0;
	}

#vacationcalendar li,
#vacationcalendar caption {
	font-size:1em;
	}

#vacationcalendar caption {
	color:#000;
	text-align:center;
	}

#vacationcalendar ul span {
	padding:1px 5px;
	margin:0 5px;
	border:#000 1px solid;
	}
	
.absences-entry-cardframe button {
	font-size:1em;
	font-weight:bold;
	width:10em;
}


#absences_search {
	background:#fff;
}


.absences-filterform {
	padding:.5em .5em .2em 1em;
}


.absences-select,
.absences-filterform select {
	max-width:15em;
}


#workschedules_profiles .plus,
#workschedules_profiles .minus {
	font-weight:bold;
}


.absences-quantity-modification-table .date {
	
	width: 19em;
}


.absences-quantity-modification-table .right {
    
    text-align:right;
    display:block;
}

.planningfilter {
	background:#ddd;
	margin-bottom:.5em;
}


.planningfilter a {
	color:#000;
	text-decoration:none;
	font-size:12px;
	
	padding:2px 5px;
	display:inline-block;
	border-radius:4px 4px 0 0;
	
	margin:.4em .5em 0 .5em;
	
}


.planningfilter a:hover {
	background:#fff;
}

.widget-discarded {
	display:none !important;
}


@media print {

	.noprint {
		display:none;
		}

	}