<!--#begin movement -->

<table width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr class="BabSiteAdminTitleFontBackground">
			<td>{ t_date }</td>
			<td>{ t_author }</td>
			<td>{ t_request }</td>
			<td>{ t_message }</td>
			<td>{ t_comment }</td>
		</tr>
        <!--#in getnext -->
        <!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			
			<td>{ date }</td>
			<td>{ author }</td>
			<td>{ request }</td>
			<td>{ message }</td>
			<td>{ comment }</td>
        </tr>
        <!--#endin getnext -->
		<tr class="BabSiteAdminTitleFontBackground">
			<td> 
				&nbsp; 
				<!--#if topurl --><a href="{ topurl }"><img src="{ babSkinPath }images/Puces/arrowPrev3aa.gif" alt="{ t_first_page }" /></a><!--#endif topurl -->
				<!--#if prevurl --><a href="{ prevurl }"><img src="{ babSkinPath }images/Puces/arrowPrev3a.gif" alt="{ t_previous_page }" /></a><!--#endif prevurl -->
			</td>

			<td colspan="3" align="center">
				{ t_position }
			</td>

			<td align="right"> 

				<!--#if nexturl --><a href="{ nexturl }"><img src="{ babSkinPath }images/Puces/arrowNext3a.gif" alt="{ t_next_page }" /></a><!--#endif nexturl -->
				<!--#if bottomurl --><a href="{ bottomurl }"><img src="{ babSkinPath }images/Puces/arrowNext3aa.gif" alt="{ t_last_page }" /></a><!--#endif bottomurl -->
				&nbsp; 
			</td>
		</tr>
</table>
</td>
</tr>

</table>


<!--#end movement -->







<!--#begin personalrights -->



<br />
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
	<td class="BabLoginCadreBackground"> 
	
	<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>{ desctxt }</td>
			<td>{ typetxt }</td>
			<td>{ quantitytxt }</td>
			<td>{ consumedtxt }</td>
			<td>{ waitingtxt }</td>
			<td>{ datebtxt }</td>
			<td>{ dateetxt }</td>
		</tr> 
		<!--#in getnextright -->

		<!--#if year -->
		<tr class="BabLoginMenuBackground"> 
			<td colspan="7">{ year }</td>
		</tr>
		<!--#endif year -->

		<!--#if rgroup -->
		<tr class="BabSiteAdminFontBackground"> 
			<td colspan="7"><strong><u>{ rgroup }</u></strong></td>
		</tr>
		<!--#endif rgroup -->
		
			<!--#if in_rgroup -->
			<tr class="BabForumBackground1"> 
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<!--#else in_rgroup -->
			<tr class="BabSiteAdminFontBackground"> 
				<td>
			<!--#endif in_rgroup -->
			
			
				<!--#if agentRight --><span <!--#if in_collection --><!--#else in_collection --> style="color:red;" title="{ not_in_collection }"<!--#endif in_collection -->>{ description }</span>
				<!--#else agentRight -->{ description }
				<!--#endif agentRight -->
				</td>
		
			
			<td>{ type }</td>
			<td>{ disp_quantity }</td>
			<td>{ consumed }</td>
			<td>{ waiting }</td>
			<td>{ dateb }</td>
			<td>{ datee }</td>
		</tr>

		<!--#endin getnextright -->
		
		
	</table>
	</td>
</tr>
</table>
<br>


<!--#end personalrights -->