
<!--#begin confirmvacation -->

<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr> 
		<td colspan="2" align="left">{ agentcard }<br /><br /></td>
	</tr>
	
	<!--#if todelete -->
    <tr> 
        <td><h3>{ todelete }</h3></td>
    </tr>
    <!--#endif todelete -->
	
	
	<!--#if createdby -->
	<tr> 
		<td align="right" width="40%">{ t_createdby }:</td>
		<td>{ createdby }</td>
	</tr>
	<!--#endif createdby -->
	
	<tr> 
		<td align="right" width="40%">{ datebegintxt }:</td>
		<td>{ datebegin }</td>
	</tr>
	<tr> 
		<td align="right">{ dateendtxt }:</td>
		<td>{ dateend }</td>
	</tr>
	
	
	<tr>
		<td colspan="2">
			<table border="1" cellpadding="5" align="center" style="border-collapse:collapse">
				<caption><strong>{ nbdaystxt }:</strong></caption>
				
				<!--#in getnexttype -->
				<tr>
					<td>&nbsp;&nbsp;<span style="background:#{ typecolor };border-radius:50%;display:inline-block;width:10px;height:10px;" title="{ typename }"></span>&nbsp; { rightname }&nbsp;</td>
					<td>{ nbdays }&nbsp;&nbsp;  <!--#if alert --> - <span class="BabErrorMessage">{ t_alert } ({ alert })</span><!--#endif alert --></td>
				</tr>
				<!--#endin getnexttype -->
				<tr>
					<td align="right"><strong>{ totaltxt }</strong>&nbsp;</td>
					<td>{ availability }</td>
				</tr>
			</table>
			
			<br /><br />
		</td>
	
	</tr>
	
	
	
	<!--#in getmatch --><!--#endin getmatch -->
	<!--#if nomatch -->
	<tr> 
		<td colspan="2" style="color:red">{ t_nomatch }</td>
	</tr>
	<!--#endif nomatch -->
	<!--#if remark -->
	<tr> 
		<td valign="top" align="right">{ remarktxt }:</td>
		<td>{ remark }<br /><br /></td>
	</tr>
	<!--#endif remark -->
	
	
	<!--#if disp_movements -->
		<tr>
			<td colspan="2">
			
			<table cellpadding="5" align="center">
				<caption><strong>{ t_history }:</strong></caption>
				<thead>
					<tr class="BabSiteAdminTitleFontBackground">
						<td>{ t_createdOn }</td>
						<td>{ t_author }</td>
						<td>{ t_message }</td>
						<td>{ t_mvt_comment }</td>
					</tr>
				</thead>
				<!--#in getnextmvt -->
				<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
					<td>{ createdOn }</td>
					<td>{ author }</td>
					<td>{ message }</td>
					<td>{ comment }</td>
				</tr>
				<!--#endin getnextmvt -->
			</table>
			<br /><br />
			</td>
		</tr>
		<!--#endif disp_movements -->
	
	
	</table>
	
	
	
	
	
	
	
	

	<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
	<input type="hidden" name="tg" value="addon/absences/approb">
	<input type="hidden" name="idx" value="unload">
	<input type="hidden" name="conf" value="vac">
	<input type="hidden" name="veid" value="{ veid }">
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
	
		<!--#if folder -->
		<tr>
			<td>
				<br />
				<strong>{ t_folder }</strong> <br />
			
				<!--#in getnextfe -->
				{ date }, 
				<!--#endin getnextfe -->
				
				
					
				<p align="center"><label><input type="checkbox" name="folder" value="1" style="vertical-align:middle" /> { t_confirm_folder }</label></p>
			</td>
		</tr>
		<!--#endif folder -->
	
	
		<tr> 
			<td align="center">{ commenttxt }: </td>
		</tr> 
		<tr> 
			<td align="center">
			<textarea cols="80" rows="6" name="remarks"></textarea>
			</td>
		</tr>
		<tr> 
			<td align="center">
				<input type="submit" name="confirm" value="{ confirm }" />&nbsp;&nbsp;
				<input type="submit" name="refuse" value="{ refuse }" />
			</td>
		</tr>
	</table>
	</form>
</td>
</tr>
</table>

<!--#end confirmvacation -->
