
<!--#begin reqexport -->

<form method="post" name="export" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="addon/absences/exportvac" />
<input type="hidden" name="idx" value="reqx" />
<table width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5">
	<tr valign="top">
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
				<tr>
					<td align="right" width="40%">{ datebegintxt }:</td>
					<td>
					{ widgetdateb }
					</td>
				</tr>
				<tr>
					<td align="right">{ dateendtxt }:</td>
					<td>
					{ widgetdatee }
					</td>
				</tr>
				<tr>
					<td align="right" nowrap>{ statustxt }:</td>
					<td>
					<!--#in getnextstatus -->
					<br><input type="checkbox" name="idstatus[]" checked value="{ statusid }">&nbsp;&nbsp;{ statusname }
					<!--#endin getnextstatus -->
					</td>
				</tr>
				<tr>
					<td align="right">{ separatortxt }:</td>
					<td>
					<select name="wsepar">
					<option value="0">{ other }</option>
					<option value="1" selected >{ comma }</option>
					<option value="2">{ tab }</option>
					<option value="3">{ semicolon }</option>
					</select>&nbsp;&nbsp;
					<input type="text" name="separ" size="1" maxlength="1" value="" />
					</td>
				</tr>
				<tr>
					<td align="right">{ sepdectxt }:</td>
					<td>
					<input type="text" name="sepdec" size="1" maxlength="1" value="," />
					</td>
				</tr>

                <!--#if useorg -->
				<tr>
					<td align="right">{ t_organization }:</td>
					<td>
						<select name="organization" style="max-width:20em">
							<option value=""></option>
							<!--#in getnextorganization -->
							<option value="{ id_organization }">{ organization }</option>
							<!--#endin getnextorganization -->
						</select>
					</td>
				</tr>
				<!--#endif useorg -->
				
				
				<tr>
					<td align="left" colspan="2" style="white-space:nowrap">
					{ t_users_without_requests }:
					<select name="users_without_requests">
						<option value="0">{ t_no }</option>
						<option value="1">{ t_yes }</option>
					</select>
					
					<br /><br />
					
                    { t_splittype }: 
                    <select name="splittype">
                        <option value="0">{ t_no }</option>
                        <option value="1">{ t_yes }</option>
                    </select>
                    
                    </td>
                </tr>

			</table>

		</td>

		<td>
			{ additional_fields }
			<div style="background:#fff;height:200px;overflow:auto;margin:.5em">
			<!--#in getnextfield -->
			<label><input type="checkbox" name="dirfields[{ fieldname }]" value="1" style="vertical-align:middle" /> { fieldlabel }</label><br />
			<!--#endin getnextfield -->
			</div>
		</td>
	</tr>

	<tr>
		<td colspan="2" align="center">

		<p>{ t_overlap }</p>

		<input type="submit" name="bexport" value="{ export }" />
		</td>
	</tr>
</table>

</td>
</tr>
</table>
</form>
<!--#end reqexport -->