


<!--#begin newvacation -->
      <strong>{ message } <br />
{ fromuser }&nbsp;:&nbsp;{ username }</strong><br />
      { from }&nbsp;:&nbsp;{ begindate }<br />
      { until }&nbsp;:&nbsp;{ enddate }<br /><br />
<!--#end newvacation -->
<!--#begin newvacationtxt -->
{ message }

{ fromuser }: { username }
{ from }: { begindate }
{ until }: { enddate }


<!--#end newvacationtxt -->





<!--#begin vacmanager -->

      <strong>{ message } <br />
{ fromuser }&nbsp;:&nbsp;{ username }</strong><br />
      { from }&nbsp;:&nbsp;{ begindate }<br />
      { until }&nbsp;:&nbsp;{ enddate }<br /><br />
      
      <table border="0">
      <!--#in getnextelem -->
      <tr>
      	<td valign="bottom"><!--#if rgroup_name --><u>{ rgroup_name }</u><br /><!--#endif rgroup_name --> &nbsp;&nbsp; { description } : </td><td valign="bottom">{ quantity }</td>
      </tr>
      <!--#endin getnextelem -->
      </table>
      
<!--#end vacmanager -->
<!--#begin vacmanagertxt -->
{ babSiteName } <{ babUrl }>

{ message }

{ fromuser }: { username }
{ from }: { begindate }
{ until }: { enddate }

<!--#in getnextelem -->
{ descriptiontxt } : { quantity }
<!--#endin getnextelem -->

<!--#end vacmanagertxt -->








<!--#begin vacationupdate -->

      <strong>{ message } <br />
        { fromuser }&nbsp;:&nbsp;{ username }</strong><br />
      { from }&nbsp;:&nbsp;{ begindate }<br />
      { until }&nbsp;:&nbsp;{ enddate }<br />
      { status }&nbsp;:&nbsp;{ statustxt }<br />
      { more }&nbsp;:&nbsp;{ moretxt }<br /><br />

<!--#end vacationupdate -->
<!--#begin vacationupdatetxt -->
{ site } { babSiteName }
{ message }

{ fromuser }: { username }
{ from }: { begindate }
{ until }: { enddate }
{ status }: { statustxt }
{ more }: { moretxt }

<!--#end vacationupdatetxt -->






<!--#begin newrequests -->
<p>
<a href="{ approburl }">{ t_approbation_page }</a>
</p>

<!--#in getnextrequest -->
<div style="margin:.5em;border:#444 1px solid;<!--#if alert -->color:red;<!--#endif alert -->">
      <strong>{ title_message } <br />
	{ fromuser }&nbsp;:&nbsp;{ username }</strong><br />
	<!--#in getnextfield -->
    { label }&nbsp;:&nbsp;{ value }<br />
    <!--#endin getnextfield -->
    { commenttxt }&nbsp;:&nbsp;{ comment }<br /><br />
 </div>
<!--#endin getnextrequest -->

<!--#end newrequests -->

<!--#begin newrequeststxt -->
{ babSiteName } <{ babUrl }>

<!--#in getnextrequest -->
{ title_message }

{ fromuser }: { username }
<!--#in getnextfield -->
{ label }: { value }
<!--#endin getnextfield -->
{ commenttxt }:{ comment }

---------------------------------
<!--#endin getnextrequest -->

<!--#end newrequeststxt -->









<!--#begin newfixvacation -->

      <strong>{ message } <br />
      { from }&nbsp;:&nbsp;{ begindate }<br />
      { until }&nbsp;:&nbsp;{ enddate }<br />
      { quantitytxt }&nbsp;:&nbsp;{ quantity }<br />

<!--#end newfixvacation -->
<!--#begin newfixvacationtxt -->
{ babSiteName } <{ babUrl }>

{ message }

{ from }: { begindate }
{ until }: { enddate }
{ quantitytxt }:{ quantity }
<!--#end newfixvacationtxt -->





<!--#begin infovacation -->

      <strong>{ message }<br />
<!--#if bview -->
{ by }&nbsp;:&nbsp;{ username }</strong><br />
<!--#endif bview -->
<!--#in getnext -->
     { label }&nbsp;:&nbsp;{ value }<br />
<!--#endin getnext -->
           { reasontxt }&nbsp;:&nbsp;{ reason }<br /><br />

<!--#end infovacation -->

<!--#begin infovacationtxt -->
{ babSiteName } <{ babUrl }>

{ message }

<!--#if bview -->
{ by }: { username }
<!--#endif bview -->
<!--#in getnext -->
{ label }: { value }
<!--#endin getnext -->
{ reasontxt }: { reason }


<!--#end infovacationtxt -->










<!--#begin vacationemails -->
<strong>{ message }<br />

<!--#in getnext -->
     { label }&nbsp;:&nbsp;{ value }<br />
<!--#endin getnext --> 
<br /><br />
<!--#end vacationemails -->


<!--#begin vacationemailstxt -->
{ message }

<!--#in getnext -->
{ label }: { value }
<!--#endin getnext -->



<!--#end vacationemailstxt -->



