


<table width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
    <table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
        <tr class="BabSiteAdminTitleFontBackground">
            <!--#if allowedit -->
            <td width="50">{ t_edit }</td>
            <!--#endif allowedit -->
            <td>{ t_name }</td>
            <td>{ t_agents }</td>
        </tr>
        <!--#in getnext -->
        <!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
            <!--#if allowedit -->
            <td>
                <a href="{ editurl }"><img src="{ babSkinPath }images/Puces/edit.gif" border="0" /></a>
            </td>
            <!--#endif allowedit -->
            <td>{ name }</td>
            <td><a href="{ agentsurl }">{ agents }</a></td>
        </tr>
        <!--#endin getnext -->
    </table>
</td>
</tr>

</table>
