
<!--#begin userlist -->

<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
    <table width="100%" border="0" cellspacing="0" cellpadding="8" align="center">
        <tr class="BabSiteAdminTitleFontBackground"> 
            <td>{ t_name }</td>
        </tr>
        <!--#in getnext -->
        <!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
            <td><a href="{ url }" onclick="bab_popup(this.href,4,1);return false;"><img src="{ babSkinPath }images/Puces/PuceCalendar.gif" alt="{ t_calendar }" align="absmiddle" border="0" /> { name }</a></td>
        </tr>
        <!--#endin getnext -->
    </table>
</td>
</tr>
</table>

<!--#end userlist -->