


<!--#begin ventrydetail -->
<br />

<table width="600" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
	<td class="BabLoginCadreBackground"> 
		<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		
		<tr><td colspan="2">
		<!--#if agentcard -->
			{ agentcard }<br /><hr /><br />
		<!--#endif agentcard -->
		
		<!--#if info -->
		<p><img src="{ babSkinPath }images/addons/absences/information-icon.png" style="vertical-align:middle" /> { info }</p>
		<!--#endif info -->
		
		</td></tr>
		
		
		<!--#if createdby -->
		<tr> 
			<td align="right" width="40%"><strong>{ t_createdby }:</strong></td>
			<td>{ createdby }</td>
		</tr>
		<!--#endif createdby -->
		
		<tr>
			<td align="right" width="30%"><strong>{ daterequesttxt }:</strong></td>
			<td>{ daterequest }</td>
		</tr>
		<tr>
			<td align="right" width="30%"><strong>{ datebegintxt }:</strong></td>
			<td>{ datebegin }</td>
		</tr>
		<tr>
		<td align="right"><strong>{ dateendtxt }:</strong></td>
		<td>{ dateend }</td>
		</tr>
		<tr>
		<td colspan="2">
			<table border="1" cellpadding="5" align="center" style="border-collapse:collapse" width="100%">
				<caption><strong>{ nbdaystxt }:</strong></caption>
				
				<!--#in getnexttype -->
				<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
				    <td>{ period }</td>
				
					<td>
					   <!--#if rgroup_name --><u>{ rgroup_name }</u><br /><!--#endif rgroup_name -->
						&nbsp;&nbsp;<span style="background:#{ typecolor };border-radius:50%;display:inline-block;width:10px;height:10px;" title="{ typename }"></span>&nbsp; { rightname }&nbsp;</td>
					<td valign="bottom">{ nbdays }&nbsp;</td>
				</tr>
				<!--#endin getnexttype -->
				<tr class="BabSiteAdminTitleFontBackground">
					<td align="right" colspan="2"><strong>{ totaltxt }</strong>&nbsp;</td>
					<td>{ totalval }</td>
				</tr>
			</table>
		</td>
		</tr>
		<tr>
		<td align="right" width="30%"><strong>{ commenttxt }:</strong></td><td>{ comment }</td>
		</tr>

		<!--#if approb -->
		<tr>
			<td align="right" width="30%"><strong>{ t_approb }:</strong></td>
			<td>{ approb }</td>
		</tr>
		<!--#endif approb -->
		<tr>
			<td align="right" valign="top" width="30%"><b>{ statustxt }:</b></td>
			<td>{ status }
			</td>
		</tr>
		<tr>
			<td align="right" width="30%"><b>{ remarktxt }:</b></td>
			<td>{ remark }</td>
		</tr>
		
		<!--#if disp_movements -->
		<tr>
			<td colspan="2">
			
			<table cellpadding="5" align="center">
				<caption><strong>{ t_history }:</strong></caption>
				<thead>
					<tr class="BabSiteAdminTitleFontBackground">
						<td>{ t_createdOn }</td>
						<td>{ t_author }</td>
						<td>{ t_message }</td>
						<td>{ t_mvt_comment }</td>
					</tr>
				</thead>
				<!--#in getnextmvt -->
				<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
					<td>{ createdOn }</td>
					<td>{ author }</td>
					<td>{ message }</td>
					<td>{ comment }</td>
				</tr>
				<!--#endin getnextmvt -->
			</table>
			
			</td>
		</tr>
		<!--#endif disp_movements -->
		
		<!--#if folder -->
		<tr>
			<td colspan="2">
				<br />
				<strong>{ t_folder }</strong> <br />
			
				<!--#in getnextfe -->
				<a href="{ url }">{ date }</a>, 
				<!--#endin getnextfe -->
				
			</td>
		</tr>
		<!--#endif folder -->
		</table>
	</td>
</tr>
</table>

<!--#end ventrydetail -->




<!--#begin cetdeposit -->
<br />

<table width="600" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
	<td class="BabLoginCadreBackground"> 
		<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		
		<tr><td colspan="2">
		<!--#if agentcard -->
			{ agentcard }<br /><hr /><br />
		<!--#endif agentcard -->
		
		</td></tr>
		
		<tr>
			<td align="right"><strong>{ t_rightsource }:</strong></td>
			<td>{ rightsource }</td>
		</tr>
		
		<tr>
			<td align="right"><strong>{ t_quantity }:</strong></td>
			<td>{ quantity }</td>
		</tr>

		<tr>
		<td align="right" width="30%"><strong>{ commenttxt }:</strong></td><td>{ comment }</td>
		</tr>

		<!--#if approb -->
		<tr>
			<td align="right" width="30%"><strong>{ t_approb }:</strong></td>
			<td>{ approb }</td>
		</tr>
		<!--#endif approb -->
		<tr>
			<td align="right" valign="top" width="30%"><b>{ statustxt }:</b></td>
			<td>{ status }
			</td>
		</tr>

		
		<!--#if disp_movements -->
		<tr>
			<td colspan="2">
			
			<table cellpadding="5" align="center">
				<caption><strong>{ t_history }:</strong></caption>
				<thead>
					<tr class="BabSiteAdminTitleFontBackground">
						<td>{ t_createdOn }</td>
						<td>{ t_author }</td>
						<td>{ t_message }</td>
						<td>{ t_mvt_comment }</td>
					</tr>
				</thead>
				<!--#in getnextmvt -->
				<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
					<td>{ createdOn }</td>
					<td>{ author }</td>
					<td>{ message }</td>
					<td>{ comment }</td>
				</tr>
				<!--#endin getnextmvt -->
			</table>
			
			</td>
		</tr>
		<!--#endif disp_movements -->
		

		</table>
	</td>
</tr>
</table>

<!--#end cetdeposit -->




<!--#begin wprecovery -->
<br />

<table width="600" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
	<td class="BabLoginCadreBackground"> 
		<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		
		<tr><td colspan="2">
		<!--#if agentcard -->
			{ agentcard }<br /><hr /><br />
		<!--#endif agentcard -->
		
		</td></tr>
		
		<tr>
			<td align="right"><strong>{ t_period }:</strong></td>
			<td>{ period }</td>
		</tr>
		
		<tr>
			<td align="right"><strong>{ t_type }:</strong></td>
			<td>{ type }</td>
		</tr>
		
		<tr>
			<td align="right"><strong>{ t_quantity }:</strong></td>
			<td>{ quantity }</td>
		</tr>

		<tr>
		<td align="right" width="30%"><strong>{ commenttxt }:</strong></td><td>{ comment }</td>
		</tr>

		<!--#if approb -->
		<tr>
			<td align="right" width="30%"><strong>{ t_approb }:</strong></td>
			<td>{ approb }</td>
		</tr>
		<!--#endif approb -->
		<tr>
			<td align="right" valign="top" width="30%"><b>{ statustxt }:</b></td>
			<td>{ status }
			</td>
		</tr>

		
		<!--#if disp_movements -->
		<tr>
			<td colspan="2">
			
			<table cellpadding="5" align="center">
				<caption><strong>{ t_history }:</strong></caption>
				<thead>
					<tr class="BabSiteAdminTitleFontBackground">
						<td>{ t_createdOn }</td>
						<td>{ t_author }</td>
						<td>{ t_message }</td>
						<td>{ t_mvt_comment }</td>
					</tr>
				</thead>
				<!--#in getnextmvt -->
				<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
					<td>{ createdOn }</td>
					<td>{ author }</td>
					<td>{ message }</td>
					<td>{ comment }</td>
				</tr>
				<!--#endin getnextmvt -->
			</table>
			
			</td>
		</tr>
		<!--#endif disp_movements -->
		

		</table>
	</td>
</tr>
</table>

<!--#end wprecovery -->

















<!--#begin delete_entry -->

<table width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
	<td class="BabLoginCadreBackground"> 
		<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
			
			<tr><td colspan="2">
			<!--#if agentcard -->
				{ agentcard }<br /><hr/><br />
			<!--#endif agentcard -->
			
			<!--#if info -->
			<p><img src="{ babSkinPath }images/addons/absences/information-icon.png" style="vertical-align:middle" /> { info }</p>
			<!--#endif info -->
			
			</td></tr>
			<tr>
				<td align="right" width="30%"><strong>{ daterequesttxt }:</strong></td>
				<td>{ daterequest }</td>
			</tr>
			<tr>
				<td align="right" width="30%"><strong>{ datebegintxt }:</strong></td>
				<td>{ datebegin }</td>
			</tr>
			<tr>
			<td align="right"><strong>{ dateendtxt }:</strong></td>
			<td>{ dateend }</td>
			</tr>
			<tr>
			<td colspan="2">
				<table border="1" cellpadding="5" align="center" style="border-collapse:collapse">
					<caption><strong>{ nbdaystxt }:</strong></caption>
					
					<!--#in getnexttype -->
					<tr>
						<td>&nbsp;&nbsp;<span style="background:#{ typecolor };border-radius:50%;display:inline-block;width:10px;height:10px;" title="{ typename }"></span>&nbsp; { rightname }&nbsp;</td>
						<td>{ nbdays }&nbsp;</td>
					</tr>
					<!--#endin getnexttype -->
					<tr>
						<td align="right"><strong>{ totaltxt }</strong>&nbsp;</td>
						<td>{ totalval }</td>
					</tr>
				</table>
			</td>
			</tr>
			<tr>
			<td align="right" width="30%"><strong>{ commenttxt }:</strong></td><td>{ comment }</td>
			</tr>
	
			<!--#if approb -->
			<tr>
				<td align="right" width="30%"><strong>{ t_approb }:</strong></td>
				<td>{ approb }</td>
			</tr>
			<!--#endif approb -->
			<tr>
				<td align="right" valign="top" width="30%"><b>{ statustxt }:</b></td>
				<td>{ status }</td>
			</tr>
			<tr>
				<td align="right" width="30%"><b>{ remarktxt }:</b></td>
				<td>{ remark }</td>
			</tr>

			<tr>
				<td colspan="2" align="center">
					<div class="BabSiteAdminFontBackground">
					<br />
					<h5>{ t_deleteconfirm }</h5>
					
					<!--#if delete_with_approval -->
					<p>{ delete_with_approval }</p>
					<!--#endif delete_with_approval -->
					
					<form name="vacform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
					
						<!--#if folder -->
						<p><label><input type="checkbox" name="folder" value="1" style="vertical-align:middle;" /> { t_delete_folder }</label></p>
						<!--#endif folder -->
					
						<p>
							<input type="hidden" name="tg" value="addon/absences/vacuser" />
							<input type="hidden" name="action" value="delete_request" />
							<input type="hidden" name="id_entry" value="{ id_entry }" />
							<input type="hidden" name="url" value="{ url }" />
							<input type="hidden" name="rfrom" value="{ rfrom }" />
							<input type="submit" value="{ t_delete }" />
							<br />
							<br />
						</p>
					</form>
					
					</div>
				</td>
			</tr>
		</table>
	</td>
</tr>
</table>

<!--#end delete_entry -->







<!--#begin delete_cetdeposit -->

<table width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
	<td class="BabLoginCadreBackground"> 
		<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
			
			<tr><td colspan="2">
			<!--#if agentcard -->
				{ agentcard }<br /><hr /><br />
			<!--#endif agentcard -->
			
			</td></tr>
			
			<tr>
				<td align="right"><strong>{ t_rightsource }:</strong></td>
				<td>{ rightsource }</td>
			</tr>
			
			<tr>
				<td align="right"><strong>{ t_quantity }:</strong></td>
				<td>{ quantity }</td>
			</tr>
	
			<tr>
			<td align="right" width="30%"><strong>{ commenttxt }:</strong></td><td>{ comment }</td>
			</tr>
	
			<!--#if approb -->
			<tr>
				<td align="right" width="30%"><strong>{ t_approb }:</strong></td>
				<td>{ approb }</td>
			</tr>
			<!--#endif approb -->
			<tr>
				<td align="right" valign="top" width="30%"><b>{ statustxt }:</b></td>
				<td>{ status }
				</td>
			</tr>
	
			
			<!--#if disp_movements -->
			<tr>
				<td colspan="2">
				
				<table cellpadding="5" align="center">
					<caption><strong>{ t_history }:</strong></caption>
					<thead>
						<tr class="BabSiteAdminTitleFontBackground">
							<td>{ t_createdOn }</td>
							<td>{ t_author }</td>
							<td>{ t_message }</td>
							<td>{ t_mvt_comment }</td>
						</tr>
					</thead>
					<!--#in getnextmvt -->
					<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
						<td>{ createdOn }</td>
						<td>{ author }</td>
						<td>{ message }</td>
						<td>{ comment }</td>
					</tr>
					<!--#endin getnextmvt -->
				</table>
				
				</td>
			</tr>
			<!--#endif disp_movements -->

			<tr>
				<td colspan="2" align="center">
					<div class="BabSiteAdminFontBackground">
					<br />
					<h5>{ t_deleteconfirm }</h5>
					
					<!--#if delete_with_approval -->
                    <p>{ delete_with_approval }</p>
                    <!--#endif delete_with_approval -->
					
					<form name="vacform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
					
						<!--#if folder -->
						<p><label><input type="checkbox" name="folder" value="1" style="vertical-align:middle;" /> { t_delete_folder }</label></p>
						<!--#endif folder -->
					
						<p>
							<input type="hidden" name="tg" value="addon/absences/vacuser" />
							<input type="hidden" name="action" value="delete_request" />
							<input type="hidden" name="id_deposit" value="{ id_deposit }" />
							<input type="hidden" name="url" value="{ url }" />
							<input type="hidden" name="rfrom" value="{ rfrom }" />
							<input type="submit" value="{ t_delete }" />
							<br />
							<br />
						</p>
					</form>
					
					</div>
				</td>
			</tr>
		</table>
	</td>
</tr>
</table>

<!--#end delete_cetdeposit -->













<!--#begin delete_wprecovery -->

<table width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
	<td class="BabLoginCadreBackground"> 
		<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr><td colspan="2">
			<!--#if agentcard -->
				{ agentcard }<br /><hr /><br />
			<!--#endif agentcard -->
			
			</td></tr>
			
			<tr>
				<td align="right"><strong>{ t_type }:</strong></td>
				<td>{ type }</td>
			</tr>
			
			<tr>
				<td align="right"><strong>{ t_quantity }:</strong></td>
				<td>{ quantity }</td>
			</tr>
	
			<tr>
			<td align="right" width="30%"><strong>{ commenttxt }:</strong></td><td>{ comment }</td>
			</tr>
	
			<!--#if approb -->
			<tr>
				<td align="right" width="30%"><strong>{ t_approb }:</strong></td>
				<td>{ approb }</td>
			</tr>
			<!--#endif approb -->
			<tr>
				<td align="right" valign="top" width="30%"><b>{ statustxt }:</b></td>
				<td>{ status }
				</td>
			</tr>
	
			
			<!--#if disp_movements -->
			<tr>
				<td colspan="2">
				
				<table cellpadding="5" align="center">
					<caption><strong>{ t_history }:</strong></caption>
					<thead>
						<tr class="BabSiteAdminTitleFontBackground">
							<td>{ t_createdOn }</td>
							<td>{ t_author }</td>
							<td>{ t_message }</td>
							<td>{ t_mvt_comment }</td>
						</tr>
					</thead>
					<!--#in getnextmvt -->
					<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
						<td>{ createdOn }</td>
						<td>{ author }</td>
						<td>{ message }</td>
						<td>{ comment }</td>
					</tr>
					<!--#endin getnextmvt -->
				</table>
				
				</td>
			</tr>
			<!--#endif disp_movements -->
			
			<tr>
				<td colspan="2" align="center">
					<div class="BabSiteAdminFontBackground">
					<br />
					<h5>{ t_deleteconfirm }</h5>
					
					<!--#if delete_with_approval -->
                    <p>{ delete_with_approval }</p>
                    <!--#endif delete_with_approval -->
					
					<form name="vacform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
					
						<!--#if folder -->
						<p><label><input type="checkbox" name="folder" value="1" style="vertical-align:middle;" /> { t_delete_folder }</label></p>
						<!--#endif folder -->
					
						<p>
							<input type="hidden" name="tg" value="addon/absences/vacuser" />
							<input type="hidden" name="action" value="delete_request" />
							<input type="hidden" name="id_recovery" value="{ id_recovery }" />
							<input type="hidden" name="url" value="{ url }" />
							<input type="hidden" name="rfrom" value="{ rfrom }" />
							<input type="submit" value="{ t_delete }" />
							<br />
							<br />
						</p>
					</form>
					
					</div>
				</td>
			</tr>
		</table>
	</td>
</tr>
</table>

<!--#end delete_wprecovery -->
