
<form method="post" name="export" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="addon/absences/vacadm" />
<input type="hidden" name="idx" value="rightsexport" />
<table width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
    <table class="BabLoginMenuBackground" width="100%" >
        <tr>
            <td style="width: 75%;">
                <table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
                    <tr>
                        <td align="right">{ separatortxt }:</td>
                        <td>
                        <select name="wsepar">
                        <option value="0">{ other }</option>
                        <option value="1" selected >{ comma }</option>
                        <option value="2">{ tab }</option>
                        <option value="3">{ semicolon }</option>
                        </select>&nbsp;&nbsp;
                        <input type="text" name="separ" size="1" maxlength="1" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">{ sepdectxt }:</td>
                        <td>
                        <input type="text" name="sepdec" size="1" maxlength="1" value="," />
                        </td>
                    </tr>


                    <tr>
                        <td align="right">{ t_organization }:</td>
                        <td>
                            <select name="organization" style="max-width:20em">
                                <option value=""></option>
                                <!--#in getnextorganization -->
                                <option value="{ id_organization }">{ organization }</option>
                                <!--#endin getnextorganization -->
                            </select>
                        </td>
                    </tr>


                    <tr>
                        <td align="right">{ t_year }:</td>
                        <td>
                            <select name="year">
                                <option value=""></option>
                                <!--#in getnextyear -->
                                <option value="{ year }">{ year }</option>
                                <!--#endin getnextyear -->
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td>
                        <input type="submit" name="bexport" value="{ export }" />
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 25%;">
                { additional_fields }
                <div style="background:#fff;height:200px;overflow:auto;margin:.5em">
                <!--#in getnextfield -->
                <label><input type="checkbox" name="dirfields[{ fieldname }]" value="1" style="vertical-align:middle" /> { fieldlabel }</label><br />
                <!--#endin getnextfield -->
                </div>
            </td>
        </tr>
    </table>
</td>
</tr>
</table>
</form>