<!--#begin list -->
{ searchform }

<table width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
    <table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
        <tr class="BabSiteAdminTitleFontBackground">
            <td>{ t_user }</td>
            <td>{ t_begin }</td>
            <td>{ t_end }</td>
            <td>{ t_quantity }</td>
        </tr>
        <!--#in getnext -->
        <!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
            <td>{ username }</td>
            <td>{ begin }</td>
            <td>{ end }</td>
            <td>{ quantity }</td>
        </tr>
        <!--#endin getnext -->
        <tr class="BabSiteAdminTitleFontBackground">
            <td> 
                &nbsp; 
                <!--#if topurl --><a href="{ topurl }"><img src="{ babSkinPath }images/Puces/arrowPrev3aa.gif" alt="{ t_first_page }" /></a><!--#endif topurl -->
                <!--#if prevurl --><a href="{ prevurl }"><img src="{ babSkinPath }images/Puces/arrowPrev3a.gif" alt="{ t_previous_page }" /></a><!--#endif prevurl -->
            </td>

            <td colspan="2" align="center">
                { t_position }
            </td>

            <td align="right"> 

                <!--#if nexturl --><a href="{ nexturl }"><img src="{ babSkinPath }images/Puces/arrowNext3a.gif" alt="{ t_next_page }" /></a><!--#endif nexturl -->
                <!--#if bottomurl --><a href="{ bottomurl }"><img src="{ babSkinPath }images/Puces/arrowNext3aa.gif" alt="{ t_last_page }" /></a><!--#endif bottomurl -->
                &nbsp; 
            </td>
        </tr>
</table>
</td>
</tr>

</table>

<!--#end list -->