<!--#begin vrightslist -->



{ searchform }

<table width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr class="BabSiteAdminTitleFontBackground">
			<td>{ nametxt }</td>
			<td>{ kindtxt }</td>
			<td>{ typetxt }</td>
			<td align="center">{ t_edit }</td>
			<td align="center">{ statustxt }</td>
			<td>{ t_available }</td>
			<td align="center">{ quantitytxt }</td>
			<td>&nbsp;</td>
		</tr>
        <!--#in getnext -->
        <!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			<td>
				<a href="{ vrviewurl }">{ description }</a>
			</td>
			<td>{ kind }</td>
			<td><span style="background:#{ typecolor };display:inline-block;border-radius:50%;width:10px;height:10px;"></span> { typename }</td>
			<td align="center">
				<a href="{ vrurl }" title="{ creditortxt } : { creditor }"><img src="{ babSkinPath }images/Puces/edit.gif" border="0" alt="{ alttxt }" /></a>
			</td>
			<td align="center">
				<!--#if bclose -->
				<img src="{ babSkinPath }images/Puces/action_fail.gif" alt="{ closedtxt }" />
				<!--#else bclose -->
				<img src="{ babSkinPath }images/Puces/action_success.gif" alt="{ openedtxt }" />
				<!--#endif bclose -->
			</td>
			<td>{ available }</td>
			<td align="center">{ quantity }</td>
			<td width="1%">
				<!--#if urllistp -->
					<a href="{ urllistp }" title="{ altlistp }"><img src="{ babSkinPath }images/Puces/PuceUserAttrib.gif" alt="{ altlistp }" border="0" align="middle" /></a>
				<!--#endif urllistp -->	
			</td>
        </tr>
        <!--#endin getnext -->
		<tr class="BabSiteAdminTitleFontBackground">
			<td> 
				&nbsp; 
				<!--#if topurl --><a href="{ topurl }"><img src="{ babSkinPath }images/Puces/arrowPrev3aa.gif" alt="{ t_first_page }" /></a><!--#endif topurl -->
				<!--#if prevurl --><a href="{ prevurl }"><img src="{ babSkinPath }images/Puces/arrowPrev3a.gif" alt="{ t_previous_page }" /></a><!--#endif prevurl -->
			</td>

			<td colspan="5" align="center">
				{ t_position }
			</td>

			<td colspan="2" align="right"> 

				<!--#if nexturl --><a href="{ nexturl }"><img src="{ babSkinPath }images/Puces/arrowNext3a.gif" alt="{ t_next_page }" /></a><!--#endif nexturl -->
				<!--#if bottomurl --><a href="{ bottomurl }"><img src="{ babSkinPath }images/Puces/arrowNext3aa.gif" alt="{ t_last_page }" /></a><!--#endif bottomurl -->
				&nbsp; 
			</td>
		</tr>
</table>
</td>
</tr>

</table>

<!--#end vrightslist -->




<!--#begin vrpersonnellist -->

<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr>
    <td class="BabLoginCadreBackground">

    { filtereditor }



	<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
		<input type="hidden" name="tg" value="addon/absences/vacadma">
		<input type="hidden" name="idx" value="delvru">
		<input type="hidden" name="idvr" value="{ idvr }">
		<input type="hidden" name="pos" value="{ pos }">
		

		<table  width="100%" border="0" cellspacing="0" cellpadding="3" align="center">
		<tr class="BabSiteAdminTitleFontBackground">
            <td colspan="6" class="BabLetterlists">
                <!--#if allselected "== 1" -->
                { allname }&nbsp;
                <!--#else allselected -->
                <a href="{ allurl }">{ allname }</a>&nbsp;
                <!--#endif allselected -->
                <!--#in getnextselect -->
                <!--#if selected "== 1" -->
                { selectname }&nbsp;
                <!--#else selected -->
                <a href="{ selecturl }">{ selectname }</a>&nbsp;
                <!--#endif selected -->
                <!--#endin getnextselect -->
            </td>

			<td class="BabLetterlists" align="right">
			    <a href="{ add_group_url }"><img src="{ babSkinPath }images/Puces/user-group-new.png" align="absmiddle" />&nbsp;{ t_add_group }</a>
			</td>
		</tr>
		<tr class="BabSiteAdminTitleFontBackground">         
			<td width="1%">
				<a href="javascript:onCheckAll('userids', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('userids', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a>
			</td>
			<td>{ t_lastname }</td>
            <td>{ t_firstname }</td>
			<td>{ t_collection }</td>
			<td>{ quantitytxt }</td>
			<td>{ t_used }</td>
			<td>{ t_waiting }</td>
		</tr>
		<!--#in getnext -->
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			<td> 
				<input type="checkbox" name="userids[]" value="{ userid }" { selected } <!--#if collectionRight --> readonly="readonly" onclick="return false;" title="{ t_selected_collection }" <!--#endif collectionRight --> />
				<!--#if nuserid -->
				<input type="hidden" name="nuserids[]" value="{ nuserid }" />
				<!--#endif nuserid -->
			</td>
			<td>{ lastname }</td>
            <td>{ firstname }</td>
			<td><!--#if collectionRight --><img src="{ babSkinPath }images/addons/absences/collection_linked.png" align="absmiddle" /><!--#else collectionRight --><img src="{ babSkinPath }images/addons/absences/collection_unlinked.png" align="absmiddle" /><!--#endif collectionRight -->&nbsp;{ collection }</td>
			<td>{ quantity }</td>
			<td>{ used }</td>
			<td>{ waiting }</td>
		</tr> 
		<!--#endin getnext -->
		<!--#if display_pagination -->
        <tr class="BabLoginMenuBackground">
            <td width="1%" colspan="2">
                &nbsp;
                <!--#if topurl --><a href="{ topurl }"><img src="{ babSkinPath }images/Puces/arrowPrev3aa.gif" alt="{ t_first_page }" /></a><!--#endif topurl -->
                <!--#if prevurl --><a href="{ prevurl }"><img src="{ babSkinPath }images/Puces/arrowPrev3a.gif" alt="{ t_previous_page }" /></a><!--#endif prevurl -->
            </td>
            <td align="center"  colspan="4">
                { t_position }
            </td>

            <td align="right">

                <!--#if nexturl --><a href="{ nexturl }"><img src="{ babSkinPath }images/Puces/arrowNext3a.gif" alt="{ t_next_page }" /></a><!--#endif nexturl -->
                <!--#if bottomurl --><a href="{ bottomurl }"><img src="{ babSkinPath }images/Puces/arrowNext3aa.gif" alt="{ t_last_page }" /></a><!--#endif bottomurl -->
                &nbsp;
            </td>
        </tr>
        <!--#endif display_pagination -->
        <tr class="BabLoginMenuBackground">
            <td colspan="9">
            
                <div align="left" style="margin:.5em">
		            <input type="submit" value="{ modify }" />
		        </div>
            </td>
        </tr>
		</table>

		
	</form>
    </td>
</tr>
</table>

<br />
<!--#end vrpersonnellist -->



<!--#begin vrcollectionlist -->


<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="addon/absences/vacadma">
<input type="hidden" name="idx" value="lvrc">
<input type="hidden" name="idvr" value="{ idvr }">
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr> 
<td class="BabLoginCadreBackground" align="center" valign="middle"> 
	<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	
	<tr class="BabSiteAdminTitleFontBackground">         
		<td width="1%">
			<a href="javascript:onCheckAll('collection', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" width="10" height="10" border="0"></a><a href="javascript:onCheckAll('collection', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" width="10" height="10" border="0"></a></td>
		<td>{ t_name }</td>
		<td>{ t_description }</td>
	</tr>
	<!--#in getnext -->
	
	<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
		<td> 
			<input type="checkbox" name="collection[]" value="{ id_collection }" { selected } />
		</td>
		<td>{ name }</td>
		<td>{ description }</td>
	</tr> 
	<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
<br />
<div align="center">
	<input type="submit" value="{ modify }" />
</div>
</form>

<!--#end vrcollectionlist -->





<!--#begin rightsdelete -->
<table width="60%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td class="BabLoginCadreBackground"> 
			<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="10">
			
			<tr> 
				<td>
					<h5>{ t_alert }</h5>

					<p>
						{ t_request } : { request }
					</p>
					<p>
						{ t_nb_requests }
					</p>
					
					<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
						<input type="hidden" name="tg" value="addon/absences/vacadma" />
						<input type="hidden" name="idx" value="lrig" />
						<input type="hidden" name="action" value="delete" />
						<input type="hidden" name="idvr" value="{ idvr }" />
						<p align="center">
							<input type="submit" name="confirmed" value="{ t_confirm }" />
						</p>
					</form>
				</td>
			</tr>

			</table>
		</td>
	</tr>
</table>
<!--#end rightsdelete -->

<!--#begin rgrouplist -->

<table width="60%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td class="BabLoginCadreBackground"> 
			<table width="100%" border="0" cellspacing="0" cellpadding="5">
			
			<tr class="BabSiteAdminTitleFontBackground"> 
				<td>{ t_name }</td>
				<td>{ t_rights }</td>
				<td>{ t_edit }</td>
			</tr>
			<!--#in getnext -->
			<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
				<td valign="top">{ name }</td>
				<td valign="top">
					<!--#in getnextright -->
					{ description }<br />
					<!--#endin getnextright -->
				</td>
				<td valign="top"><a href="{ babUrlScript }?tg=addon/absences/vacadma&amp;idx=rgroupmod&amp;id_rgroup={ id_rgroup }"><img src="{ babSkinPath }images/Puces/edit.gif" border="0" alt="{ t_edit }" /></a></td>
			</tr>
			<!--#endin getnext -->
			</table>
		</td>
	</tr>
</table>
<!--#end rgrouplist -->


<!--#begin rgroupmod -->
<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="addon/absences/vacadma" />
<input type="hidden" name="idx" value="rgroup" />
<input type="hidden" name="action" value="rgroupmod" />
<input type="hidden" name="id_rgroup" value="{ id_rgroup }" />
<table width="60%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td class="BabLoginCadreBackground"> 
			<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5">
			
			<tr> 
				<td align="right" valign="top">{ t_name } :</td>
				<td><input type="text" name="name" value="{ name }" size="50" />
			</tr>
			<tr>	
				<td align="right" valign="top">{ t_quantity_unit } :</td>
				<td>
					
					<select name="quantity_unit">
						<!--#if quantity_unit "== H" -->
						<option value="D">{ t_days }</option>
						<option value="H" selected="selected">{ t_hours }</option>
						<!--#else quantity_unit -->
						<option value="D" selected="selected">{ t_days }</option>
						<option value="H">{ t_hours }</option>
						<!--#endif quantity_unit -->
					</select>
					
					<br /><br />
					
					<label><input type="checkbox" name="recover" value="1" style="vertical-align:middle" <!--#if recover --> checked="checked"<!--#endif recover --> /> { t_recover }</label>
				</td>
			</tr>
			
			

			<tr>
				<td colspan="2" align="center">
					<br />
					
					<input type="submit" value="{ t_record }" />
					<!--#if id_rgroup --> &nbsp; 
					<input type="submit" name="rgroup_delete" value="{ t_delete }" />
					<!--#endif id_rgroup -->
					<br />
					<br />
				</td>
			</tr>
			</table>
		</td>
	</tr>
</table>
</form>
<!--#end rgroupmod -->



<!--#begin rightcopy -->

<script type="text/javascript">
function absences_checkAll(status)
{
	var inputs = document.querySelectorAll('#absences_renewal_rights input[type=checkbox]');
	for(var i=0; i<inputs.length; i++) {
		inputs[i].checked = status;
	}
}
</script>

<form name="copy" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="addon/absences/vacadma" />
<input type="hidden" name="idx" value="copy" />
<table width="60%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td class="BabLoginCadreBackground"> 
			<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5">
			
			<tr> 
				<td>
				<p>{ t_help }</p>
				<p>
					{ t_year_from } :
					<select name="year_from" onchange="document.forms['copy'].submit()">
						<!--#in getnextyear -->
						<option value="{ year }" <!--#if selected --> selected="selected"<!--#endif selected -->>{ year }</option>
						<!--#endin getnextyear -->
					</select>
				</p>
				<!--#in year_to --><!--#endin year_to -->
				<p><br /></p>

				<table width="100%" cellpadding="4">
				<thead>
				    <tr class="BabSiteAdminTitleFontBackground">
				        <td width="1%" align="center"><a href="#" onclick="absences_checkAll(true); return false;"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" border="0"></a><a href="#" onclick="absences_checkAll(false); return false;"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }"  border="0"></a></td>
				        <td>{ t_right_name }</td>
				        <td>{ t_right_kind }</td>
				        <td>{ t_quantity }</td>
				    </tr>
				</thead>
				<tbody id="absences_renewal_rights">
					<!--#in getnextright -->
					<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
						<td>
					      <input type="hidden" name="rights[{ id_right }][id]" value="{ id_right }" />
					      <input style="vertical-align:middle" type="checkbox" name="rights[{ id_right }][checked]" id="absences_right_{ id_right }" value="{ id_right }" <!--#if checked --> checked="checked" <!--#endif checked --> />
					    </td> 
						<td><label for="absences_right_{ id_right }">{ right_description }</label></td>
						<td>{ right_kind }</td>
						<td><input type="text" name="rights[{ id_right }][quantity]" value="{ quantity }" size="4" /> { right_unit }</td>
					</tr>
					<!--#endin getnextright -->
                </tbody>
				</table>

				<p><br /></p>
				
				<p>{ t_year_to } : <input type="text" name="year_to" value="{ year_to }" maxlength="4" size="4" /></p>
				
				<p><img src="{ babSkinPath }images/addons/absences/information-icon.png" alt="" border="0" align="left" hspace="8" /> { t_help }</p>
				
				<p align="center"><input type="submit" name="copy_rights" value="{ t_record }" /></p>
				</td>
			</tr>
			</table>
		</td>
	</tr>
</table>
</form>
<!--#end rightcopy -->


<!--#begin rightcopy2 -->
<table width="60%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td class="BabLoginCadreBackground"> 
			<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5">
			
			<tr> 
				<td>
					<!--#in getnextmessage -->
					<p>{ message }</p>
					<!--#endin getnextmessage -->
					
				</td>
			</tr>
			</table>
		</td>
	</tr>
</table>
<!--#end rightcopy2 -->
