<!--#begin vtypecreate -->
<script type="text/javascript">
<!--

function setColor(color)
	{
	document.forms.ntypeform.tcolor.value=color;
	if (color == '') color = 'fff';
	document.getElementById('typeColor').style.backgroundColor = '#'+color;
	}
//-->
</script>
<form name="ntypeform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="addon/absences/vacadm" />
<input type="hidden" name="idx" value="lvt" />
<input type="hidden" name="add" value="{ what }" />
<input type="hidden" name="vtid" value="{ vtid }" />
<table width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr>
<td width="30%" align="right">{ name }:</td>
<td width="70%" valign="middle">
<input type="text" name="tname" size="20" maxlength="100" value="{ tnameval }">
</td>
</tr>
<tr>
<td align="right" nowrap valign="middle">{ description }:</td>
<td valign="middle">
<textarea name="description" cols="50" rows="2">{ descriptionval }</textarea>
</td>
</tr>


<tr>
	<td align="right" valign="middle" nowrap>{ colortxt }:</td>
	<td>
	<div id="typeColor" style="width:30px;height:15px;border:#000 1px solid;background-color:#{ tcolorval }; float:left"></div>
	<input type="hidden" name="tcolor" value="{ tcolorval }">&nbsp;<a href="#" onclick="Start('{ selctorurl }', 'ColorWindow', 'width=400,height=400,status=no,resizable=no,top=200,left=200');return false;"><img src="{ babSkinPath }images/Puces/colorize.png" alt="" border="0" /></a>
	</td>
</tr>

<tr>
	<td colspan="2" align="center">
		<label><input type="checkbox" name="recover" value="1" style="vertical-align:middle" <!--#if recover --> checked="checked"<!--#endif recover --> /> { t_recover }</label>

	</td>
</tr>

<tr>
<td>&nbsp;</td>
<td valign="middle">
<input type="submit" name="Submit" value="{ add }" />
<!--#if bdel -->
&nbsp;&nbsp;<input type="submit" name="bdel" value="{ del }" />
<!--#endif bdel -->
</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--#end vtypecreate -->





<!--#begin vtypelist -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
	<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr class="BabSiteAdminTitleFontBackground">
		<td>{ nametxt }</td>
		<td align="left">{ descriptiontxt }</td>
		<td width="20%">{ altaddvr }</td>
		<td width="10%">{ colortxt }</td>
	</tr>
	<!--#in getnext -->
	<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
		<td><a href="{ url }">{ urlname }</a></td>
		<td>{ description }</td>
		<td align="center"><a href="{ addurl }"><img src="{ babSkinPath }images/Puces/PuceRightVacation.gif" alt="{ altaddvr }" border="0" align="middle" /></a></td>
		<td bgcolor="#{ tcolor }"><span>&nbsp;</span></td>
	</tr>
	<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
<br>
<!--#end vtypelist -->


<!--#begin vcollist -->
<table width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
	<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr class="BabSiteAdminTitleFontBackground">
			<td>{ nametxt }</td>
			<td>{ descriptiontxt }</td>
			<td>{ t_rights }</td>
		</tr>
		<!--#in getnext -->
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			<td><a href="{ url }">{ urlname }</a></td>
			<td>{ description }</td>
			<td><a href="{ righturl }">{ t_rights }</a></td>
		</tr>
		<!--#endin getnext -->
	</table>
</td>
</tr>
</table>
<br>
<!--#end vcollist -->

<!--#begin vcolcreate -->

<script type="text/javascript">

function absences_typecheck(box)
{
	var b = box.parentNode.parentNode.parentNode.getElementsByTagName('input');
	for(var i=0; i< b.length; i++)
	{
		if (b[i].name)
		{
			b[i].checked = box.checked;
		}
	}
}

</script>

<form method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="addon/absences/vacadm">
<input type="hidden" name="idx" value="lcol">
<input type="hidden" name="add" value="{ what }">
<input type="hidden" name="vcid" value="{ vcid }">
<table border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	<tr>
		<td align="right">{ name }:</td>
		<td>
		<input type="text" name="tname" size="20" maxlength="20" value="{ tnameval }" />
		</td>
	</tr>
	<tr>
		<td align="right">{ description }:</td>
		<td>
		<input type="text" name="description" size="50" maxlength="255" value="{ descriptionval }">
		</td>
	</tr>
	<tr>
		<td align="right">{ category }:</td>
		<td>
			<select name="category">
			<option value="0"></option>
			<!--#in getnextcat -->
			<option value="{ categid }" {  selected }>{ categname }</option>
			<!--#endin getnextcat -->
			</select>
		</td>
	</tr>

	<tr>
		<td>&nbsp;</td>
		<td>
		<input type="submit" name="Submit" value="{ add }">
		<!--#if bdel -->
		&nbsp;&nbsp;<input type="submit" name="bdel" value="{ del }">
		<!--#endif bdel -->
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end vcolcreate -->


<!--#begin vpersonnellist -->
<script type="text/javascript">
<!--
function view_calendar_checkbox()
{
var f = document.forms['listform'];
var users = '';
for (i = 0; i < f.elements.length; i++)
	{
		var objCtrl = f.elements[i];;
		if (objCtrl.checked)
			{
			if (users != '')
				users += ',';
			users += objCtrl.value;
			}
	}
if (users != '')
	{
	//}
	bab_popup('{ babUrlScript }?tg=addon/absences/planning&idx=cal&idu='+users+'&popup=1',5,1);
	}
}
-->
</script>





<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr>
    <td class="BabLoginCadreBackground">

    { filtereditor }



	<form name="listform" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
	<input type="hidden" name="tg" value="addon/absences/vacadm">
	<input type="hidden" name="idx" value="lper">
	<input type="hidden" name="pos" value="{ pos }">

	<table  width="100%" border="0" cellspacing="0" cellpadding="4" align="center">

		<tr class="BabSiteAdminTitleFontBackground">
			<td colspan="9" class="BabLetterlists">
				<!--#if allselected "== 1" -->
				{ allname }&nbsp;
				<!--#else allselected -->
				<a href="{ allurl }">{ allname }</a>&nbsp;
				<!--#endif allselected -->
				<!--#in getnextselect -->
				<!--#if selected "== 1" -->
				{ selectname }&nbsp;
				<!--#else selected -->
				<a href="{ selecturl }">{ selectname }</a>&nbsp;
				<!--#endif selected -->
				<!--#endin getnextselect -->
			</td>
		</tr>

		<tr class="BabSiteAdminTitleFontBackground">
			<td width="1%">
				<a href="javascript:onCheckAll('userids', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" border="0"></a><a href="javascript:onCheckAll('userids', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" border="0"></a>
			</td>
			<td>{ t_lastname }</td>
			<td>{ t_firstname }</td>
			<td>{ collection }</td>
			<td>{ appschema }</td>
			<td>{ t_movement }</td>
			<td>{ altlrbu }</td>
			<td align="center">
				<a href="javascript:onCheckAll('calendar', true)" title="{ t_view_calendar } : { checkall }"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" border="0"></a><a href="javascript:onCheckAll('calendar', false)" title="{ t_view_calendar } : { uncheckall }"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }" border="0" /></a>
			</td>
			<td>{ altvunew }</td>
		</tr>
		<!--#in getnext -->
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->

			<td width="1%">
				<input type="checkbox" name="userids[]" value="{ userid }" />
			</td>
			<td><!--#if direntryurl --><a href="{ direntryurl }" onclick="bab_popup(this.href);return false;"><img src="{ babSkinPath }images/Puces/contact.png" alt="" border="0" align="absmiddle"></a><!--#endif direntryurl --> <a href="{ url }">{ lastname }</a></td>
			<td>{ firstname }</td>
			<td>{ collname }</td>
			<td>{ saname }</td>
			<td><a href="{ movementurl }"><img src="{ babSkinPath }images/addons/absences/view-history.png" alt="" border="0" align="absmiddle"></a></td>
			<td><a href="{ lrbuurl }"><img src="{ babSkinPath }images/Puces/PuceRightVacation.gif" alt="{ altlrbu }" border="0" align="absmiddle"></a></td>
			<td align="center"><input type="checkbox" name="calendar[]" value="{ userid }" /></td>
			<td  align="center">
			<!--#if disabled -->
			<img src="{ babSkinPath }images/Puces/disabled.gif" title="{ t_user_disabled }" alt="{ t_user_disabled }" border="0" align="absmiddle">
			<!--#else disabled -->
			     { createmenu }
			<!--#endif disabled -->
		    </td>
		</tr>
		<!--#endin getnext -->
		<tr class="BabSiteAdminTitleFontBackground">
			<td align="center">
				<a href="javascript:submitForm('delu','listform')" title="{ deletealt }"><img src="{ babSkinPath }images/Puces/del.gif" alt="{ deletealt }" border="0"></a>
			</td>
			<td colspan="6">
				&nbsp;
			</td>
			<td align="center">
				<a href="javascript:view_calendar_checkbox()">{ t_view_calendar }</a>
			</td>
			<td>
				&nbsp;
			</td>
		</tr>

		<!--#if display_pagination -->
		<tr class="BabLoginMenuBackground">
            <td width="1%" colspan="2">
                &nbsp;
                <!--#if topurl --><a href="{ topurl }"><img src="{ babSkinPath }images/Puces/arrowPrev3aa.gif" alt="{ t_first_page }" /></a><!--#endif topurl -->
                <!--#if prevurl --><a href="{ prevurl }"><img src="{ babSkinPath }images/Puces/arrowPrev3a.gif" alt="{ t_previous_page }" /></a><!--#endif prevurl -->
            </td>
            <td align="center"  colspan="6">
                { t_position }
            </td>

            <td align="right">

                <!--#if nexturl --><a href="{ nexturl }"><img src="{ babSkinPath }images/Puces/arrowNext3a.gif" alt="{ t_next_page }" /></a><!--#endif nexturl -->
                <!--#if bottomurl --><a href="{ bottomurl }"><img src="{ babSkinPath }images/Puces/arrowNext3aa.gif" alt="{ t_last_page }" /></a><!--#endif bottomurl -->
                &nbsp;
            </td>
        </tr>
        <!--#endif display_pagination -->
	</table>

	</form>

	</td>
</tr>
</table>

<br />


<!--#end vpersonnellist -->

<!--#begin personnelcreate -->
<script type="text/javascript">
<!--
function onUser(id, fn)
{
	document.forms['user'].user.value=fn;
	document.forms['user'].userid.value=id;
	this.focus();
	op.close();
}

var op = null;
function openPopup(url)
{
	if( op == null || op.closed )
		op = this.open(url+'onUser', 'babuserslist', 'width=550,height=550,status=no,resizable=yes,top=200,left=200,scrollbars=yes');
	else
		op.focus();
}

//-->
</script>



<form name="user" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="{ tg }" />
<input type="hidden" name="idx" value="lper" />
<input type="hidden" name="add" value="changeuser" />
<input type="hidden" name="idp" value="{ idp }" />
<!--#if ide -->
<input type="hidden" name="ide" value="{ ide }" />
<!--#endif ide -->

<table  width="735" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground" align="center" valign="middle">
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="8">
		<!--#if waiting -->
		<tr>
			<td>
				{ userval }<br />

				<a href="{ listrequesturl }"><img border="0" align="absmiddle" alt="" src="{ babSkinPath }images/Puces/search.gif"> { t_list_request }</a><br />
				<a href="{ createrequesturl }"><img border="0" align="absmiddle" alt="" src="{ babSkinPath }images/Puces/insertInto.gif"> { t_create_request }</a>

				<p>{ waiting }</p>
			</td>
		</tr>
		<!--#else waiting -->
		<!--#if idp -->
		<tr>
			<td colspan="2">
				{ userval }<br />

				<a href="{ listrequesturl }"><img border="0" align="absmiddle" alt="" src="{ babSkinPath }images/Puces/search.gif"> { t_list_request }</a><br />
				<a href="{ createrequesturl }"><img border="0" align="absmiddle" alt="" src="{ babSkinPath }images/Puces/insertInto.gif"> { t_create_request }</a><br />
			</td>
		</tr>
		<!--#else idp -->

		<tr>
			<td  align="right">{ usertext }</td>
			<td>
			    { userpicker }
			</td>
		</tr>
		<!--#endif idp -->
		
		
		<!--#if canuseprofiles -->
		<tr>
		  <td colspan="2">
		  
		      <table width="100%" cellpadding="5" id="workschedules_profiles">
		          <thead>
		              <tr class="BabSiteAdminTitleFontBackground">
		                  <td>{ t_workschedule }</td>
		                  <td>{ t_from }</td>
		                  <td>{ t_to }</td>
		                  <td>&nbsp;</td>
		              </tr>
		          </thead>
		          
		          <tbody>
		          
		              <!--#in getnextprofile -->
		          
		              <tr class="BabSiteAdminFontBackground">
		                  <td>
		                  
		                      <input type="hidden" name="profiles[userprofile][]" value="{ userProfileId }" />
		                  
		                      <select name="profiles[profile][]">
		                          <option></option>
		                          <!--#in getnextwsprofile -->
		                          <option value="{ id }" <!--#if selected --> selected="selected" <!--#endif selected --> >{ name }</option>
		                          <!--#endin getnextwsprofile -->
		                      </select>
		                  </td>
		                  <td>
		                      { datepicker_from }
		                  </td>
		                  <td>
		                      { datepicker_to }
		                  </td>
		                  <td>
		                      <button class="plus">+</button>
		                      <button class="minus">-</button>
		                  </td>
		              </tr>
		              
		              <!--#endin getnextprofile -->
		          </tbody>
		      
		      </table>
		  
		  
		  </td>
		</tr>
		<!--#endif canuseprofiles -->
		

		<!--#if changeorganization -->
		<tr>
            <td align="right" width="50%">{ t_organization }</td>
            <td>
                <select name="id_organization" class="absences-select">
                <option value="0"></option>
                <!--#in getnextorganization -->
                <option value="{ value }" <!--#if selected --> selected="selected" <!--#endif selected -->>{ name }</option>
                <!--#endin getnextorganization -->
                </select>
            </td>
        </tr>
        <!--#endif changeorganization -->

		<tr>
			<td align="right" width="50%">{ collection }</td>
			<td>
				<select name="idcol">
				<!--#in getnextcol -->
				<option value="{ idcollection }" { selected }>{ collname }</option>
				<!--#endin getnextcol -->
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">{ appschema }</td>
			<td>
				<select name="idsa">
				<!--#in getnextsa -->
				<option value="{ idsapp }" { selected }>{ saname }</option>
				<!--#endin getnextsa -->
				</select>
			</td>
		</tr>

		<tr>
			<td align="right">{ t_id_sa_cet }</td>
			<td>
				<select name="id_sa_cet">
				<option value="0">{ t_use_vr }</option>
				<!--#in getnextsa -->
				<option value="{ idsapp }" { selected_cet }>{ saname }</option>
				<!--#endin getnextsa -->
				</select>
			</td>
		</tr>

		<tr>
			<td align="right">{ t_id_sa_recover }</td>
			<td>
				<select name="id_sa_recover">
				<option value="0">{ t_use_vr }</option>
				<!--#in getnextsa -->
				<option value="{ idsapp }" { selected_recover }>{ saname }</option>
				<!--#endin getnextsa -->
				</select>
			</td>
		</tr>


		<tr>
			<td colspan="2">
				<label>{ t_emails } :<br />
				<textarea name="emails" style="width:100%">{ emails }</textarea></label>
			</td>

		</tr>

		<tr>
		<td>&nbsp;</td>
		<td>
		<input type="submit" name="submit" value="{ add }" />
		<br>
		</td>
		</tr>
		<!--#endif waiting -->
	</table>
</td>
</tr>
</table>
</form>
<br />
<br />
<!--#end personnelcreate -->

<!--#begin grouppersonnelcreate -->
<script type="text/javascript">
<!--


function radiochange(obj)
{
	var tr = document.getElementById('absences_tr_collection');

	if (obj.value == 'modify')
		tr.style.display = 'none';
	else
		tr.style.display = '';
}


//-->
</script>
<form name="group" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="addon/absences/vacadm" />
<input type="hidden" name="idx" value="addg" />
<table  width="60%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground" align="center" valign="middle">
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5">
		<tr>
			<td align="right">{ grouptext } :</td>
			<td>
				{ grouppicker }
			</td>
		</tr>
		<tr>
			<td align="right">&nbsp;</td>
			<td>
				<dl>
					<dt>{ t_add_modify }</dt>
					<dd><input type="radio" name="addmodify" value="add" onclick="radiochange(this)" checked="checked" />{ t_add }</dd>
					<dd><input type="radio" name="addmodify" value="modify" onclick="radiochange(this)" />{ t_modify }<dd>
				</dl>
				<!--
				<p>
				{ t_modify_alert }.
				</p>
				-->
			</td>
		</tr>
		<tr id="absences_tr_collection">
			<td align="right">{ collection }:</td>
			<td>
				<select name="idcol">
				<!--#in getnextcol -->
				<option value="{ idcollection }" { selected }>{ collname }</option>
				<!--#endin getnextcol -->
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">{ appschema }</td>
			<td>
				<select name="idsa">
				<!--#in getnextsa -->
				<option value="{ idsapp }" { selected }>{ saname }</option>
				<!--#endin getnextsa -->
				</select>
			</td>
		</tr>

		<tr>
			<td align="right">{ cetschema }</td>
			<td>
				<select name="id_sa_cet">
				<option value="0">{ t_use_vr }</option>
				<!--#in getnextsa -->
				<option value="{ idsapp }" { cetselected }>{ saname }</option>
				<!--#endin getnextsa -->
				</select>
			</td>
		</tr>

		<tr>
			<td align="right">{ recoverschema }</td>
			<td>
				<select name="id_sa_recover">
				<option value="0">{ t_use_vr }</option>
				<!--#in getnextsa -->
				<option value="{ idsapp }" { recoverselected }>{ saname }</option>
				<!--#endin getnextsa -->
				</select>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="submit" name="submit" value="{ t_record }" />
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end grouppersonnelcreate -->

<!--#begin changeucol -->
<script type="text/javascript">
<!--

function computeRights(obj,max)
{
	if (ParseInt(obj.value, 10) > max)
		obj.value = max;

	var f = document.forms['changeucol'];
	var prefix = 'right_';

	var sum = 0;

	for (var i = 0 ; i < f.elements.length ; i++ )
		{
		if (f.elements[i].name.substring(0,prefix.length) == prefix)
			{
			if (!isNaN(f.elements[i].value))
				sum += parseInt(f.elements[i].value, 10);
			}
		}

	f.days.value = parseInt(f.total.value, 10) - sum;
}



//-->
</script>

<form name="changeucol" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="{ tg }" />
<input type="hidden" name="idx" value="lper" />
<input type="hidden" name="add" value="changeucol" />
<input type="hidden" name="idp" value="{ id_user }" />
<input type="hidden" name="idcol" value="{ id_coll }" />
<!--#if ide -->
<input type="hidden" name="ide" value="{ ide }" />
<!--#endif ide -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground" align="center" valign="middle">
	<table width="100%" border="0" cellspacing="1" cellpadding="5">
		<tr class="BabSiteAdminTitleFontBackground">
			<td>&nbsp;</td>
			<td colspan="2">
				<h5>{ t_oldcol } : { oldcol }</h5>
			</td>
			<td colspan="2">
				<h5>{ t_newcol } : { newcol }</h5>
			</td>
			<td colspan="3"></td>
		</tr>
		<tr class="BabSiteAdminTitleFontBackground">
			<td>&nbsp;</td>

			<td>
				<abbr title="{ t_right_user_title }">{ t_right }</abbr>
			</td>
			<td>
				<abbr title="{ t_balance_title }">{ t_balance }</abbr>
			</td>
			<td>
				<abbr title="{ t_right_title }">{ t_right }</abbr>
			</td>
			<td>
				<abbr title="{ t_new_balance_title }">{ t_balance }</abbr>
			</td>
			<td>
			     <abbr title="{ t_renewal_title }">{ t_renewal }</abbr>
			</td>
			<td>
				{ t_confirmed }
			</td>
			<td>
				{ t_waiting }
			</td>
		</tr>
		<!--#in getnext -->
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			<td>{ right[description] }</td>
			<td>
				<!--#if right[user_quantity_old] -->
				<strong title="{ t_user_modified } : { right[user_quantity_old] }">{ right[quantity_old] }</strong>
				<!--#else right[user_quantity_old] -->
				{ right[quantity_old] }
				<!--#endif right[user_quantity_old] -->
			</td>
			<td>{ right[quantity_available] }</td>

			<td>
				{ right[quantity_new] }
			</td>
			<td>
				<!--#if right[quantity_new] -->
				<input type="text" name="right_{ id }" value="{ newrightvalue }" size="4" maxlength="5" onKeyUp="computeRights()" />
				<!--#endif right[quantity_new] -->
			</td>
			<td><input type="checkbox" name="renewal[{ id }]" value="1" <!--#if renewal --> checked="checked"<!--#endif renewal --> /></td>
			<td>{ right[confirmed] }</td>
			<td>{ right[waiting] }</td>
		</tr>
		<!--#endin getnext -->
		<tr class="BabSiteAdminTitleFontBackground">
			<td colspan="8" align="center">
				<br />
				<input type="submit" name="submit" value="{ t_record }" />
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end changeucol -->

<!--#begin rlistbyuser -->



<form name="rmodify" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="{ tg }" />
<input type="hidden" name="idx" value="rights" />
<input type="hidden" name="add" value="modrbu" />
<input type="hidden" name="idu" value="{ idu }" />
<input type="hidden" name="ide" value="{ ide }" />
<br>
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
	<td class="BabLoginCadreBackground">

	<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr>
			<td class="BabLoginMenuBackground" colspan="9">{ header }</td>
		</tr>
		<tr class="BabSiteAdminTitleFontBackground">
			<td>{ desctxt }</td>
			<td>{ quantitytxt }</td>
			<td>{ consumedtxt }</td>
			<td>{ waitingtxt }</td>
			<td>{ balancetxt }</td>
			<td>{ previsionaltxt }</td>
			<td>{ previsionalbalancetxt }</td>
			<td>{ datebtxt }</td>
			<td>{ dateetxt }</td>
		</tr>
		<!--#in getnextright -->

		<!--#if year -->
		<tr class="BabLoginMenuBackground">
			<td colspan="9">{ year }</td>
		</tr>
		<!--#endif year -->

		<!--#if rgroup -->
		<tr class="BabSiteAdminFontBackground">
			<td colspan="9"><strong><u>{ rgroup }</u></strong></td>
		</tr>
		<!--#endif rgroup -->

			<!--#if in_rgroup -->
			<tr class="BabForumBackground1">
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<!--#else in_rgroup -->
			<tr class="BabSiteAdminFontBackground">
				<td>
			<!--#endif in_rgroup -->
			
			    <span title="{ type }" style="background-color:#{ color }; width:10px; height:10px; display:inline-block; margin:3px; vertical-align:middle;"></span>


				<!--#if agentRight --><a href="{ agent_right_url }" <!--#if in_collection --><!--#else in_collection --> style="color:red;" title="{ not_in_collection }"<!--#endif in_collection -->>{ description }</a>
				<!--#else agentRight -->{ description }
				<!--#endif agentRight -->

				<!--#if alert -->
				<br /><img src="{ babSkinPath }images/Puces/PuceFileWaitConfirm.gif" align="absmiddle" /> { alert }
				<!--#endif alert -->
				</td>

			<td>
				<input type="text" name="quantity[{ idright }]" size="2" maxlength="8" value="{ quantity }" <!--#if readonly --> readonly="readonly"<!--#endif readonly --> /> { unit } 
				
				<!--#if dynamic_quantity -->
				    <img src="{ babSkinPath }images/Puces/help.gif" title="{ dynamic_quantity }" />
				<!--#endif dynamic_quantity -->
				
				<!--#if increment_quantity -->
                    <img src="{ babSkinPath }images/Puces/help.gif" title="{ increment_quantity }" />
                <!--#endif increment_quantity -->
				
			<td>{ consumed }</td>
			<td>{ waiting }</td>
			<td>{ balance }</td>
			<td>{ previsional }</td>
			<td>{ previsional_balance }</td>
			<td>{ dateb }</td>
			<td>{ datee }</td>
		</tr>

		<!--#endin getnextright -->

		<tr>
			<td class="BabLoginMenuBackground" colspan="9">
				<label>{ t_comment } <input type="text" name="comment" value="" size="40" /></label>
			</td>
		</tr>
	</table>
	</td>
</tr>
</table>
<br>
<table width="100%">
	<tr>
		<td width="30%">
		<!--#in previoususer -->
		<a href="{ previousurl }" style="text-decoration:none;"><img src="{ babSkinPath }images/Puces/arrowPrev3a.gif" alt="" align="absmiddle" /> { previous }</a>
		<!--#endin previoususer -->
		&nbsp;</td>
		<td align="center">
			<input type="submit" name="submit" value="{ updatetxt }">
		</td>
		<td width="30%" align="right">&nbsp;
		<!--#in nextuser -->
		<a href="{ nexturl }" style="text-decoration:none;">{ next } <img src="{ babSkinPath }images/Puces/arrowNext3a.gif" alt="" align="absmiddle" /></a>
		<!--#endin nextuser -->
		</td>
	</tr>
</table>
</form>
<br />

<!--#end rlistbyuser -->

<!--#begin rlistbyuserunload -->
<br><br><br><br>

<table class="BabLoginMenuBackground" width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr>
	<td>
	<table class="" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr>
			<td class="BabErrorMessage" colspan="2" align="center">{ message } </td>
		</tr>
		<tr align="left" valign="middle">
			<td class="BabWarningBodyBackground" colspan="2" align="center"><a href="javascript:this.close()">{ close }</a> </td>
		</tr>
	</table>
</td>
</tr>
</table>
<br>

<script type="text/javascript">
	setTimeout("this.close()","1000");
</script>

<!--#end rlistbyuserunload -->














<!--#begin abexport -->

<form method="post" name="export" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="addon/absences/vacadm" />
<input type="hidden" name="idx" value="abexport" />
<table width="70%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabLoginCadreBackground">
	<table class="BabLoginMenuBackground" width="100%" >
		<tr>
			<td style="width: 75%;">
				<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
					<tr>
						<td align="right">{ separatortxt }:</td>
						<td>
						<select name="wsepar">
						<option value="0">{ other }</option>
						<option value="1" selected >{ comma }</option>
						<option value="2">{ tab }</option>
						<option value="3">{ semicolon }</option>
						</select>&nbsp;&nbsp;
						<input type="text" name="separ" size="1" maxlength="1" value="" />
						</td>
					</tr>
					<tr>
						<td align="right">{ sepdectxt }:</td>
						<td>
						<input type="text" name="sepdec" size="1" maxlength="1" value="," />
						</td>
					</tr>


					<tr>
						<td align="right">{ t_organization }:</td>
						<td>
							<select name="organization" style="max-width:20em">
								<option value=""></option>
								<!--#in getnextorganization -->
								<option value="{ id_organization }">{ organization }</option>
								<!--#endin getnextorganization -->
							</select>
						</td>
					</tr>
					
					
					<tr>
                        <td align="right">{ t_date }:</td>
                        <td>
                            { datePicker }
                        </td>
                    </tr>


					<tr>
						<td align="right">{ t_year }:</td>
						<td>
							<select name="year">
								<option value=""></option>
								<!--#in getnextyear -->
								<option value="{ year }">{ year }</option>
								<!--#endin getnextyear -->
							</select>
						</td>
					</tr>

					<tr>
						<td>&nbsp;</td>
						<td>
						<input type="submit" name="bexport" value="{ export }" />
						</td>
					</tr>
				</table>
			</td>
			<td style="width: 25%;">
				{ additional_fields }
				<div style="background:#fff;height:200px;overflow:auto;margin:.5em">
				<!--#in getnextfield -->
				<label><input type="checkbox" name="dirfields[{ fieldname }]" value="1" style="vertical-align:middle" /> { fieldlabel }</label><br />
				<!--#endin getnextfield -->
				</div>
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
</form>
<!--#end abexport -->

