<!--#begin list -->
<table width="99%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
		<tr class="BabSiteAdminTitleFontBackground">
			<td>{ t_name }</td>
			<td>{ t_quantity }</td>
		</tr>
        <!--#in getnext -->
        <!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			<td>
				<a href="{ editurl }">{ name }</a>
			</td>
			<td>{ quantity }</td>
			
        </tr>
        <!--#endin getnext -->
</table>
</td>
</tr>
</table>
<!--#end list -->
